.flexRow--deals {
  background-color: #a7afbd;
  padding: 14px 0px;
}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;
}

.flexRow--deals .flexCol {
  align-items: center;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}

.flexRowContent :global(.vtex-store-components-3-x-searchBarContainer)  {
  max-width: 100vw;
}
.flexRowContent :global(.vtex-styleguide-9-x-input)::placeholder  {
  font-family: "Nunito Sans", sans-serif;
  color: #000000;
  font-weight: 600;
  font-size: 14px;
  line-height: 19.1px;
}
.flexRowContent :global(.vtex-input-prefix__group)  {
  border-radius: 10px;
  border: 1px solid #DDDDDD;
  height: 40px;
}

.flexCol--teguinha {
  height: 132px;
  justify-content: flex-end;
}

.flexRow--teguinha {
  box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.034);
  margin-bottom: 4px;
}