@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

.notificationBarContainer {
  background-color: #005CFF;
  color: #FFFFFF;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.notificationBarContainer--desktop-notify {
  height: 30px;
}
.notificationBarContainer--mobile-notify {
  height: 52px;
  line-height: 22px;
}

.notificationContent--desktop-notify :first-child :first-child{
  background-color: #6220C1;
  padding: 0 4px;
  border-radius: 4px;
}
.notificationContent--desktop-notify :first-child :last-child {
  font-weight: 400;
  font-style: italic;
}
.notificationContent--mobile-notify :first-child :first-child{
  background-color: #6220C1;
  padding: 0 4px;
}
.notificationContent--mobile-notify :first-child :last-child {
  font-weight: 400;
}

.searchBarContainer {
  max-width: 265px;
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #E6F1E6;
  padding: 0px;
}

.newsletter {
  background-color: #03054E;
  max-width: 1528px;
  margin: 0 auto;
}

.newsletter .container {
  padding: 60px 10px;
}

.label {
  color: #fff;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }

  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

@media screen and (max-width: 428px) {
  .searchBarContainer {
    max-width: unset !important;
  }
}